.button {
  display: block;
  padding: 8px 20px ;
  min-width: 260px;
  width: fit-content;
  border: none;
  border-radius: 100px;

  background-color: #ef5466;
  color: white;
  font-weight: bold;
  text-decoration: none;
  
}

.input{
  display: block;
  margin: 10px 0;
  padding: 8px 15px;
  min-width: 260px;
  border-radius: 4px;
  border: 1px solid;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
